
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
	margin-top:20px;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 95%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
    border-radius: 50%;
}

.nbs-flexisel-nav-left {
    left: 0;
	background: url(../images/ico-prev.png) no-repeat center center #696969;
}

.nbs-flexisel-nav-right {
    right: 0px;
    background: url(../images/ico-next.png) no-repeat center center #696969;
}
.nbs-flexisel-nav-right:hover,
.nbs-flexisel-nav-left:hover {
    opacity:1;
}